body{
	background: #161925;
	margin: 0px;
	color: hsl(0, 0%, 90%);
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	height: auto;
}

#red-background {
    position: fixed;
    z-index: -3;
    float: left;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #C10B11;
}

#right-background {
    position: fixed;
	/*weird zindex to have text above phone and phone above blue text box*/
    z-index: -1;
    float: right;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#column{
    width: 50%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-items: flex-end;
	justify-content: center;
}

.row{
	padding: 30px;
	padding-right: 0px;
	margin-right: 0px;
	text-align: right;
	background: #161925;
	width: 61.803398875%;
	margin-bottom: 60%;
}

#title-container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title{
	padding: 40px;
	font-size: 6em;
	text-align: center;
	background: #161925;
	font-weight: 300;
	font-style: italic;
	width: auto;
	height: auto;
	z-index: -2;
}

.phone{
	opacity: 0;
	position: absolute;
	width: 60%;
}

#hearingimpaired{
	opacity: 0;
	position: absolute;
	width: 50%;
}

#footer-container{
	width: 100%;
	height: auto;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	background: #161925;
}

#skrollr-body{
	width: 100%;
	height: 100%;
}


@media screen and (max-width: 900px){
	body{
		font-size: 1em;
	}
}

@media screen and (min-width: 1000px){
	.phone{
		width: auto;
		height: 70%;
	}
}

/*pretty links*/

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }